<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
      <style>
    body {
      display: flex;
      justify-content: center
    }
  </style>
</head>
<body>
  <h1>Welcome!</h1>
  <form action="/register" method="post"placeholder="bugaduga" > 
  <input type="text" name="fullname" placeholder="bugaduga">
  <input type="email" name="email" placeholder="bugaduga">
  <input type="password" name="" id="" placeholder="bugaduga">
  <input name="age" type="number" min="1" max="110"  placeholder="bugaduga"/>
  <input type="submit" value="Отправить" />
  </form>
</body>
</html>